@import '/vendor/filament/filament/resources/css/theme.css';
@import '/node_modules/cropperjs/dist/cropper.css';
@import '/vendor/awcodes/filament-curator/resources/css/plugin.css';
@import '/vendor/awcodes/richie/resources/dist/richie.css';

@config 'tailwind.config.js';

.richie-editor,
.richie-entry {
    --primary-50: 240, 249, 255;
    --primary-100: 224, 242, 254;
    --primary-200: 186, 230, 253;
    --primary-300: 125, 211, 252;
    --primary-400: 56, 189, 248;
    --primary-500: 14, 165, 233;
    --primary-600: 2, 132, 199;
    --primary-700: 3, 105, 161;
    --primary-800: 7, 89, 133;
    --primary-900: 12, 74, 110;
    --primary-950: 8, 47, 73;

    --gray-50: 248, 250, 252;
    --gray-100: 241, 245, 249;
    --gray-200: 226, 232, 240;
    --gray-300: 203, 213, 225;
    --gray-400: 148, 163, 184;
    --gray-500: 100, 116, 139;
    --gray-600: 71, 85, 105;
    --gray-700: 51, 65, 85;
    --gray-800: 30, 41, 59;
    --gray-900: 15, 23, 42;
    --gray-950: 2, 6, 23;

    --info-50: 236, 254, 255;
    --info-100: 207, 250, 254;
    --info-200: 165, 243, 252;
    --info-300: 103, 232, 249;
    --info-400: 34, 211, 238;
    --info-500: 6, 182, 212;
    --info-600: 8, 145, 178;
    --info-700: 14, 116, 144;
    --info-800: 21, 94, 117;
    --info-900: 22, 78, 99;
    --info-950: 8, 51, 68;

    --success-50: 236, 253, 245;
    --success-100: 209, 250, 229;
    --success-200: 167, 243, 208;
    --success-300: 110, 231, 183;
    --success-400: 52, 211, 153;
    --success-500: 16, 185, 129;
    --success-600: 5, 150, 105;
    --success-700: 4, 120, 87;
    --success-800: 6, 95, 70;
    --success-900: 6, 78, 59;
    --success-950: 2, 44, 34;

    --warning-50: 254, 252, 232;
    --warning-100: 254, 249, 195;
    --warning-200: 254, 240, 138;
    --warning-300: 253, 224, 71;
    --warning-400: 250, 204, 21;
    --warning-500: 234, 179, 8;
    --warning-600: 202, 138, 4;
    --warning-700: 161, 98, 7;
    --warning-800: 133, 77, 14;
    --warning-900: 113, 63, 18;
    --warning-950: 66, 32, 6;

    --danger-50: 255, 241, 242;
    --danger-100: 255, 228, 230;
    --danger-200: 254, 205, 211;
    --danger-300: 253, 164, 175;
    --danger-400: 251, 113, 133;
    --danger-500: 244, 63, 94;
    --danger-600: 225, 29, 72;
    --danger-700: 190, 18, 60;
    --danger-800: 159, 18, 57;
    --danger-900: 136, 19, 55;
    --danger-950: 76, 5, 25;
}
